In [1]:
# 아나콘다 32비트 파이썬 3버전으로 실행

In [6]:
# SQL lite

In [7]:
import sqlite3

In [8]:
sqlite3.version

'2.6.0'

In [9]:
sqlite3.sqlite_version

'3.21.0'

In [10]:
con = sqlite3.connect("c:/Users/No.1/kospi.db")

In [11]:
type(con)

sqlite3.Connection

In [13]:
cursor = con.cursor()

In [17]:
cursor.execute("create table kakao(Date text, Open int, High int, Low int, Closing int, Volumn int)")

OperationalError: table kakao already exists

In [18]:
cursor.execute("insert into kakao values('16.06.03',97000,98600,96900,98000, 321405)")

In [20]:
cursor.execute("insert into kakao values('16.06.02',99000,99300,96300,97500,556790)")

In [21]:
con.commit()

In [22]:
con.close()

In [23]:
## 완료 후 sqlite3 설치 후 kospi.db 파일 불러오면 끝

In [24]:
# 데이터베이스로부터 데이터 읽기

In [25]:
import sqlite3

In [28]:
con = sqlite3.connect("c:/Users/No.1/kospi.db")

In [29]:
cursor = con.cursor()

In [30]:
cursor.execute("select * from kakao")

In [36]:
cursor.fetchone()    # 1개의 로우씩 결과물을 보여줌

In [37]:
cursor.execute("select * from kakao")

In [38]:
cursor.fetchall()

[('16.06.03', 97000, 98600, 96900, 98000, 321405),
 ('16.06.02', 99000, 99300, 96300, 97500, 556790)]

In [39]:
cursor.execute("select * from kakao")

In [40]:
kakao = cursor.fetchall()

In [42]:
kakao[0][0]

'16.06.03'

In [45]:
kakao[1][0]

'16.06.02'

In [46]:
kakao[1][1]

99000

In [47]:
kakao[1]

('16.06.02', 99000, 99300, 96300, 97500, 556790)

In [48]:
kakao[0]

('16.06.03', 97000, 98600, 96900, 98000, 321405)

In [49]:
#pandas 와 SQLite

In [50]:
import pandas as pd

In [51]:
from pandas import Series, DataFrame

In [54]:
raw_data = {'col0':[1,2,3,4], 'col1':[10,20,30,40], 'col2':[100,200,300,400]}

In [55]:
df = DataFrame(raw_data)

In [56]:
df

   col0  col1  col2
0     1    10   100
1     2    20   200
2     3    30   300
3     4    40   400

In [57]:
import sqlite3

In [58]:
con = sqlite3.connect("c:/Users/No.1/kospi.db")

In [59]:
df.to_sql('test',con)

In [60]:
# SQLite DB에서 테이블 로드 하기

In [61]:
import pandas as pd

In [62]:
from pandas import Series, DataFrame

In [63]:
import sqlite3

In [64]:
con = sqlite3.connect("c:/Users/No.1/kospi.db")

In [65]:
df = pd.read_sql("select * from kakao", con, index_col=None)

In [66]:
df

       Date   Open   High    Low  Closing  Volumn
0  16.06.03  97000  98600  96900    98000  321405
1  16.06.02  99000  99300  96300    97500  556790

In [67]:
df = pd.read_sql("select * from test", con, index_col='index')

In [68]:
df

       col0  col1  col2
index
0         1    10   100
1         2    20   200
2         3    30   300
3         4    40   400

In [69]:
# pandas를 이용한 주가 데이터 저장

In [71]:
import pandas as pd
import pandas_datareader.data as web
import datetime
import sqlite3

In [76]:
start = datetime.datetime(2012,1,1)
end = datetime.datetime(2016,6,12)
df = web.DataReader("orcl","iex",start,end)

ValueError: Invalid date specified. Must be within past 5 years.